torch==2.6.0
numpy==1.26.4
pandas==2.2.3
matplotlib==3.9.2
scikit-learn==1.5.2
feedparser==6.0.11
aiohttp==3.10.11
transformers==4.48.3
fastapi==0.115.8
uvicorn==0.34.0
google-cloud-firestore>=2.13.0
